body {
  font-family: "Pacifico", cursive;
  background-color: rgb(57, 64, 78);
}

.container {
  text-align: center;
  margin: 50px;
}

.title {
  padding: 10px 0 30px;
}
.title h1 {
  font-family: "Pacifico", cursive;
  color: white;
  text-shadow: 2px 3px red;
  font-size: 3.5rem;
}

.dicee img {
  width: 200px;
  height: 200px;
  padding: 0 30px 0;
}

footer {
  margin-top: 100px;
  text-align: center;
}

footer p {
  font-family: "Pacifico", cursive;
  text-shadow: 1px 1px rgb(255, 30, 67);
  letter-spacing: 2px;
  color: rgb(214, 214, 214);
}
